@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@800&family=Geologica:wght@100;400&family=Noto+Sans+Thai:wght@100;200;300;400;500;600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media print {
	body {
		margin: 0 !important;
	}
}

.main-container {
	font-family: 'Lato';
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.ck-content {
	font-family: 'Lato';
	line-height: 1.6;
	word-break: break-word;
}

.editor-container_classic-editor .editor-container__editor {
	min-width: 1300px;
	max-width: 2795px;
}

@media only screen and (min-width: 801px) {
  .set-counting{
    margin: auto;
    border: 1px solid red;
    transform: translateX(110px) translateY(50px);
    font-size: 50px;
  }

  .set-con-page{
    border: 1px solid red;
  }


  .set-img-text-01{
    font-size: 250px;
    text-transform: uppercase;
    transform: translateY(-60px);
    font-weight: 900;
    letter-spacing: 0px;
    background: url("https://d2e5ushqwiltxm.cloudfront.net/wp-content/uploads/sites/67/2023/08/29083652/Bangkok-Old-Town-History.jpg") 50% 50%;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .set-img-text-02{
    font-size: 250px;
    text-transform: uppercase;
    transform: translateY(-60px);
    font-weight: 900;
    letter-spacing: 0px;
    background: url("https://d2e5ushqwiltxm.cloudfront.net/wp-content/uploads/sites/67/2023/08/29083703/bangkok-old-town-walking-tour.jpg") 50% 50%;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .set-img-text-03{
    font-size: 250px;
    text-transform: uppercase;
    transform: translateY(-60px);
    font-weight: 900;
    letter-spacing: 0px;
    background: url("https://d2e5ushqwiltxm.cloudfront.net/wp-content/uploads/sites/67/2023/08/29083714/guide-bkk-old-town.jpg") 50% 50%;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .set-img-text-04{
    font-size: 250px;
    text-transform: uppercase;
    transform: translateY(-60px);
    font-weight: 900;
    letter-spacing: 0px;
    background: url("https://media.architecturaldigest.com/photos/59ee400e61c6482fab68ec67/master/w_2580%2Cc_limit/World's%2520Scariest-Looking%2520Structures%252014.jpg") 50% 50%;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .set-grid-about-r{
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .set-grid-about-l{
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

}

@media only screen and (max-width: 800px) {

  .set-c-about{
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 95%;
  }

  .title-c-about{
    text-align: center;
    font-size: 40px;

  }

  .center-about-p{
    text-align: center;
  }

  .set-counting{
    margin: auto;
    border: 1px solid red;
    transform: translateX(110px) translateY(50px);
    font-size: 60px;
  }
  .set-con-page{
    border: 1px solid red;
  }

  .set-img-text-01{
    font-size: 140px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0px;
    background: url("https://d2e5ushqwiltxm.cloudfront.net/wp-content/uploads/sites/67/2023/08/29083652/Bangkok-Old-Town-History.jpg") 50% 50%;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .set-img-text-02{
    font-size: 140px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0px;
    background: url("https://d2e5ushqwiltxm.cloudfront.net/wp-content/uploads/sites/67/2023/08/29083703/bangkok-old-town-walking-tour.jpg") 50% 50%;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .set-img-text-03{
    font-size: 140px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0px;
    background: url("https://d2e5ushqwiltxm.cloudfront.net/wp-content/uploads/sites/67/2023/08/29083714/guide-bkk-old-town.jpg") 50% 50%;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .set-img-text-04{
    font-size: 140px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0px;
    background: url("https://media.architecturaldigest.com/photos/59ee400e61c6482fab68ec67/master/w_2580%2Cc_limit/World's%2520Scariest-Looking%2520Structures%252014.jpg") 50% 50%;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
.loader {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    clip-path: inset(0 3ch 0 0);
    animation: l4 1s steps(4) infinite;
  }
  .loader:before {
    content:"Loading..."
  }
  @keyframes l4 {to{clip-path: inset(0 -1ch 0 0)}}


.set-img{
    width: 350px; 
    height:200px; 
    object-fit: cover;
    object-position: 25% 25%; 
}
.set-card-image{
  width: 550px; 
  height:400px; 
  object-fit: cover;
  object-position: 10% 10%; 
}

.set-card-popular-image{
  width: 280px;
  height: 250px;
  object-fit: cover;
  object-position: 10% 10%; 
}

.set-scroll{
  overflow-y: auto;
  min-height: 180px;
  max-height: 180px;
}

.set-shadow{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
/* .input-value{
    display: flex;
} */

.set-grid-shop{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 20px;
}

.set-card {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.card-overlay {
  background: rgba(0, 0, 0, 0.5);
}
/* 
.set-navbar-pdt{
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
} */

.on-set-detail-bg-product{
  background: rgb(250,250,250);
background: linear-gradient(318deg, rgba(250,250,250,1) 60%, rgba(194,208,212,1) 100%);
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0; /* Start invisible */
  animation: fade-in 1s ease-out forwards;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right {
  animation: slide-in-right 0.5s ease-out forwards;
}


.suse-font-bold {
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.suse-font {
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.about-page-popup-add {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.set-grid-find-bar{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.set-grid-find-bar-remove{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

/* Table container styling */
.table-container {
  max-width: 100%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 15px;
  background-color: #fff;
}

/* Table Header */
thead {
  background-color: #2f3640;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

thead th {
  padding: 15px;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  border-bottom: 2px solid #dcdde1;
}

/* Table Body */
tbody {
  background-color: #ffffff;
}

tbody tr {
  border-bottom: 1px solid #dcdde1;
  transition: background-color 0.3s ease;
}

tbody tr:hover {
  background-color: #f0f0f0;
}

tbody td {
  padding: 15px;
  font-size: 14px;
  color: #2c3e50;
  font-weight: 500;
  text-align: left;
}

/* Zebra stripe effect */
tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

/* Adding a gradient background for table header */
thead {
  background: linear-gradient(135deg, #636e72, #2f3640);
}


.loader-loading {
  width: 48px;
  height: 48px;
  border: 8px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 